@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --background-color1: #fafaff;
  --background-color2: #ffffff;
  --background-color3: #ededed;
  --background-color4: #cad7fda4;
  --primary-color: #4b49ac;
  --secondary-color: #0c007d;
  --Border-color: #7c0101;
  --one-use-color: #7c0101;
  --two-use-color: #7c0101;
}

body {
  background-color: var(--background-color4);
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  height: 70px;
  width: 100%;
  padding: 0 30px;
  background-color: var(--background-color1);
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 27px;
  font-weight: 600;
  color: #c21807;
}

.icn {
  height: 30px;
}

.menuicn {
  cursor: pointer;
}

.message {
  gap: 40px;
  position: relative;
  cursor: pointer;
}

.circle {
  height: 7px;
  width: 7px;
  position: absolute;
  background-color: #c21807;
  border-radius: 50%;
  left: 19px;
  top: 8px;
}

.main-container {
  display: flex;
  width: 100%;
  position: relative;
  top: 70px;
  z-index: 1;
}

.nav {
  min-height: 91vh;
  width: 250px;
  background-color: var(--background-color2);
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 0 20px 10px;
}

.navcontainer {
  height: calc(100vh - 70px);
  width: 250px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
  display: none;
}

.nav-option {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  gap: 20px;
  transition: all 0.1s ease-in-out;
}

.nav-option:hover {
  border-left: 5px solid #a2a2a2;
  background-color: #dadada;
  cursor: pointer;
}

.nav-img {
  height: 30px;
}

.nav-upper-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.option1 {
  border-left: 5px solid #010058af;
  background-color: var(--Border-color);
  color: white;
  cursor: pointer;
}

.option1:hover {
  border-left: 5px solid #010058af;
  background-color: var(--Border-color);
}

.container {
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],input[type="password"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin: 5px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #bd0f0f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #f76c0f;
}

a {
  text-decoration: none;
}

/* Responsive CSS */
@media screen and (max-width: 950px) {
  .navcontainer {
    position: fixed;
    top: 70px;
    z-index: 101;
    transition: all 0.5s ease-in-out;
    left: -300px;
  }
  .navcontainer.open {
    left: 0;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#notificationheader{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #bd0f0f;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
